pipeline/PL_Incremental_Load.json
{
	"name": "PL_Incremental_Load",
	"properties": {
		"activities": [
			{
				"name": "Get Last Updated Date from src tbl_control",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [LastLoadDate] as LastLoadDate\nfrom tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SRC_AzureSqlTable_tblControl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Max Modified Date from src tbl_user",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SRC_AzureSqlTable_tbluser",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Updated Date from src tbl_control",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Max Modified Date from src tbl_user",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from tbluser\nWhere Last_m <= '@{activity('Get Max Modified Date from src tbl_user').output.firstRow.Last_m}' \nAnd   \nLast_m >  '@{activity('Get Last Updated Date from src tbl_control').output.firstRow.LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SRC_AzureSqlTable_tbluser",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DST_AzureSqlTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "@{activity('Get Max Modified Date from src tbl_user').output.firstRow.Last_m}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "tbluser",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SRC_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "INC_LOAD"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-05T10:05:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}