pipeline/PL_lookup.json
{
	"name": "PL_lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT distinct\n    TABLE_NAME AS TableName\n FROM INFORMATION_SCHEMA.COLUMNS where TABLE_SCHEMA = 'SalesLT'\n ORDER BY\nTableName;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable TableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data Sqldb To Blobsa",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SRC_AzureSqlTable",
									"type": "DatasetReference",
									"parameters": {
										"db_table_name": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DST1_blob_DelimitedText",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(variables('TableName'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data from Blob to AdlsGen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_DST1_blob_DelimitedText",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(variables('TableName'),'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DST2_adls_DelimitedText",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(variables('TableName'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Copy data Sqldb To Blobsa",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-17.eastus.logic.azure.com:443/workflows/9aeba71285a348f499a24884dfbfbdb9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=IlURXEp-5K6dn6GIu6Xm2cNWFdyXp1g5nALxr8sBAt4",
					"method": "POST",
					"body": {
						"value": "{\n    \"Title\" : \"This mail is from ADF\",\n    \"Message\" : \"Hello I'm from adf message\",\n    \"Data Factory Name\" : \"@{pipeline().DataFactory}\",\n    \"Time\" : \"@{addMinutes(addHours(utcNow(),5),30)}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			},
			"dummy": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-11T12:30:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}